<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">CSV</div>
        <ul class="card-action">
          <li>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <%= render "form.html", conn: @conn, action: csv_path(@conn, :upload) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>